<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<typeAliases>
    <typeAlias type="space.yjeong.yourday.domain.user.User" alias="User" />
    <typeAlias type="space.yjeong.yourday.domain.diary.Diary" alias="Diary" />
    <typeAlias type="space.yjeong.yourday.domain.todo.ToDo" alias="ToDo" />
</typeAliases>
<mappers>
    <mapper resource="mapper/UserMapper.xml" />
    <mapper resource="mapper/DiaryMapper.xml" />
    <mapper resource="mapper/ToDoMapper.xml" />
</mappers>
</configuration>